body {
	margin: 0px;
}

.navbar {
	position: relative;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #0064B1;
    color: #FFFFFF;
    font-family: "Candara";
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.ui-menuitem-link .ui-corner-all .ui-menuitem-active,
.ui-menuitem-link .ui-corner-all .ui-state-hover{
	background-color: none !important;
}

.navbar a,
.navbar span {
	color: white;
}

.navbar a:hover,
.navbar span:hover {
	
}

.navbar span {
	padding: 5px;
}

.center-container {
	display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.flex-container {
	display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 600px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #0064B1;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 5%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #0064B1;
	padding: 3%;
	border: 1px solid #0064B1;
}

.form-style-6 .button {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #0064B1;
	border-bottom: 2px solid #0064A1;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 .button:hover {
	background: #2EBC99;
}

.button-logout {
	background: none !important;
	align-self: right;
	border: none !important;
	flex: 1;
}

.ui-datatable thead th {
	text-align: left !important;
	padding: 4px 0px !important;
	background: none;
	border-width: 0px 0px 3px 0px !important
}

.ui-datatable tbody td, .ui-datatable tbody tr {
	border-width: 0px !important;
}

.ui-datatable .ui-column-filter {
	display: inline-block !important;
	width: calc(100% - 5px) !important;
}

.table2 {
	border-collapse: separate !important;
	border-spacing: 3px !important;
}

.table2 .column1 {
	width: 200px;
}

.table2 .column2 td {
	width: 30%;
}

.table2 .column2 {
	width: 400px !important;
}

.table2 .ui-inputnumber.column2 input {
	width: 400px !important;
}

.table2 .ui-inputnumber.shortNumber input {
	width: 132px !important;
}

.ui-datatable tbody td.wrap {
	white-space: normal;
}

.ui-widget-content a {
	color: #428bca !important;
}

a.glyphicon-remove {
	color: #CC4545 !important;
}

a.glyphicon-ok {
	color: #5cb85c !important;
}

.ui-paginator-bottom {
	background-color: transparent !important
}

.ui-widget-header {
	border: 0px solid #a8a8a8 !important;
}

.ui-datatable-footer {
	background-color: transparent !important
}

span.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	color: #fff !important;
	background: #f0ad4e;
	font-size: 14px !important;
	font-weight: normal !important;
}

.ui-widget-content.ui-timepicker-hour-cell.ui-state-default {
	background: none;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
	background: white !important;
}

.ui-datatable-selectable.ui-state-highlight {
	background: #85b2cb !important;
}

.ui-paginator-page.ui-state-default.ui-corner-all.ui-state-active {
	outline: 0px !important;
	background-color: #6F9AD0 !important;
	border-color: #0080c0 !important;
}

.ui-paginator-page.ui-state-default.ui-corner-all.ui-state-hover {
	outline: 0px !important;
	background-color: #6F9AD0 !important;
	border-color: #0080c0 !important;
}

.ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
	width: 20px !important;
}

.ui-selectonmenu {
	outline: 0px !important;
}

.ui-filter-column.ui-state-active {
	outline: 0px !important;
	background-color: #F9F9FF !important;
	border-width: 0px 0px 3px 0px !important;
	border-color: #a8a8a8 !important;
}

.ui-filter-column.ui-state-focus.ui-state-active {
	outline: 0px !important;
	border-color: #0080c0 !important;
}

.ui-state-default .ui-icon {
	margin-left: 0px !important;
	background-image:
		url("../javax.faces.resource/images/ui-icons_38667f_256x240.png?ln=primefaces-aristo")
		!important;
}

.ui-messages-error-icon {
	display: none !important;
}

.ui-paginator {
	margin: 15px 0px 0px 15px !important;
}

.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all.with-placeholder
	{
	min-width: 90% !important;
}

.form-control.valueDate {
	width: calc(100% - 5px) !important;
	display: block;
}

.form-control.valueCalendar {
	padding: 0px !important;
	width: calc(100% - 5px) !important;
	display: block;
}

.form-control.ui-sortable-column.valueDate {
	width: 90% !important;
	margin-left: 10%;
	cursor: text;
}

.ui-datatable .ui-sortable-column .ui-column-filter {
	width: calc(100% - 23px) !important;
	margin-right: 5px;
}

.ui-datatable-tablewrapper {
    overflow: hidden !important;
    width: 50%;
}

.ui-widget {
	display: flex;
	justify-content: center;
}